body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b; /* тёмно-серый */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slider {
    display: flex;
    align-items: center;
    background-color: #6e6e6e; /* светло-серый */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.image-container {
    position: relative;
    margin: 0 15px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.counter {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 6px;
}

.btn {
    background-color: #bf0202;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #800303;
}